{% extends 'base.html' %}

{% block style %}
<style>
    .btn-outline-dark {
        width: 100%;
    }
</style>
{% endblock style %}

{% block content %}
<div class="container row w-75 mx-auto">
    <div class="col-6 mx-auto">
        <a href="{% url 'post:add_ticket' %}" class="btn btn-outline-dark">Demander une critique</a>
    </div>
    <div class="col-6 mx-auto">
        <a href="{% url 'post:add_ticket_and_review' %}" class="btn btn-outline-dark">Créer une critique</a>
    </div>
</div>
{% endblock content %}