{% extends 'base.html' %}

{% block style %}
<style>
    .post {
        border: 1px solid black;
    }
    img {
        max-width: 100%;
    }
    .buttons {
        display: flex;
        justify-content: flex-end;
    }
</style>
{% endblock style %}

{% block content %}
<div class="container w-75">
    <h2 class="text-center w-100">Vos posts</h2>
    {% for post in posts %}
        <div class="container-fluid post mt-3">
            {% if post.content_type == 'TICKET' %}
                <p class="mt-2">Vous avez publié un ticket</p>
                {% include 'partials/ticket-snippet.html' %}
                <div class="buttons mt-2 mb-2">
                    <a class="btn btn-outline-dark mr-3" href="{% url 'post:update_ticket' post.id %}">Modifier</a>
                    <form method="POST" action="{% url 'post:delete_ticket' post.id %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-outline-dark" value="Supprimer">
                    </form>
                </div>
            {% else %}
                <p class="mt-2">Vous avez publié une critique</p>
                {% include 'partials/review-snippet.html' %}
                <div class="buttons mt-2 mb-2">
                    <a class="btn btn-outline-dark mr-3" href="{% url 'post:update_review' post.id %}">Modifier</a>
                    <form method="POST" action="{% url 'post:delete_review' post.id %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-outline-dark" value="Supprimer">
                    </form>
                </div>
            {% endif %}
        </div>
    {% empty %}
        <p class="text-center mt-5">Vous n'avez pas encore de posts</p>
    {% endfor %}
</div>
{% endblock content %}
