{% extends 'base.html' %}

{% block style %}
<style>
    .post {
        border: 1px solid black;
    }
    img {
        max-width: 100%;
    }
    .buttons {
        display: flex;
        justify-content: flex-end;
    }
</style>
{% endblock style %}

{% block content %}
<div class="container w-75">
    <h2 class="text-center w-100">Vos posts</h2>
    {% for post in posts %}
        <div class="container-fluid post mt-3">
            {% if post.content_type == 'TICKET' %}
                <p class="mt-2">Vous avez publié un ticket</p>
                {% include 'partials/ticket-snippet.html' %}
            {% else %}
                <p class="mt-2">Vous avez publié une critique</p>
                {% include 'partials/review-snippet.html' %}
            {% endif %}
            <div class="buttons mt-2 mb-2">
                <button class="btn btn-outline-dark mr-3">Modifier</button>
                <button class="btn btn-outline-dark">Supprimer</button>
            </div>
        </div>
    {% empty %}
        <p>Vous n'avez pas encore de posts</p>
    {% endfor %}
</div>
{% endblock content %}
